<main class="main">
    <div main__fav><i class="fa-solid fa-heart main__fav_menu js_heart_fav"></i></div>
   
    <include src="./main-section.html" classSection="main__section_character js_section_characters" classTitle="main__section_character-title js_characters" title="Characters" classList="main__section_character--list js_character_list"></include>

    <include src="./main-section.html" classSection="main__section_favourites collapse js_section_fav" classTitle="main__section_favourites-title js_characters" title="Favourites" classList="main__section_favourites--list js_favourite_list" classBtn="main__section_favourites-btn js_fav_btn" nameBtn="Delete all favs"></include>

  </main>