@import 'core/variables';
@import 'core/reset';
@import 'core/responsive';
@import 'layout/header';
@import 'layout/form-search';
@import 'layout/list-characters';
@import 'layout/footer';

.selected {
  background-color: rgba(171, 231, 253, 0.5);
  color: black;
  transform: scale(1.1);
  border: 1px solid black;
  margin: 5px;
}
