@import 'core/variables';
@import 'core/reset';
@import 'core/responsive';
@import 'layout/header';
@import 'layout/form-search';
@import 'layout/list-characters';
@import 'layout/footer';

.selected {
  background-color: lightblue;
  color: white;
  transform: scale(1.1);
}
